extend layout
block content
  .carousel
    a.carousel-item(href="/hackathon") Join Hackathon
    a(class="carousel-item") bye this is also text
    a(class="carousel-item") why this isn't text

block scripts
  script(type="text/javascript" src="/slick/slick.min.js")
  script(type="text/javascript" src="/javascripts/script.js")